@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --warna-utama: #64bcf4;
  --warn-hover: #5bacdf;
  --warna-background: #f1f8fc;
  --hitam-satu: #312f3a;
  --hitam-dua: #45424b;
  --cerah-satu: #919191;
  --cerah-dua: #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--warna-background);
}

/* Header (Navbar) */
.kontainer {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header .kontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--hitam-dua);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--cerah-dua);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--warn-hover);
  transform: scale(1.05);
}

.tombol {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--warna-utama);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.tombol:hover {
  background-color: var(--warn-hover);
  transform: scale(1) !important;
}
